.container {
  display: flex;
  flex-direction: column;
  margin-right: 1em;
  width: 360px;
}

.footer {
  align-items: center;
  background: #fff;
  display: flex;
  height: 75px;
  justify-content: space-between;
  padding: 0 1em;
}

.image {
  background-color: silver;
  flex: 1;
}

.product {
  display: flex;
  flex-direction: column;
}
